@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1638771751223') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\344b";
}

.icon-tubiao111:before {
  content: "\e632";
}

.icon-weibo:before {
  content: "\e66b";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-weixin:before {
  content: "\e64c";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-wodeqianfenleishouye:before {
  content: "\e60f";
}

