body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
input,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-size: 12px;
}

@mixin ul-li {
    list-style: none;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    text-align: center;
}

.clearFix::after {
    content: "";
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

header {
    width: 100%;
    height: 169px;

    .ceil {
        width: 100%;
        height: 30px;
        margin-top: 20px;
        background-color: RGB(245, 245, 245);
        color: #1E1E1E;
        line-height: 30px;
        font-size: 12px;

        &>div>.header-left {
            float: left;

            a {
                color: #0000EE;
            }
        }

        &>div>.header-right {
            float: right;

            ul {
                list-style: none;

                li {
                    float: left;
                    margin: 9px 0 8px;
                    padding: 0 10px 0 15px;
                    line-height: 12px;
                    border-right: solid 1px #DDD;

                    a {
                        color: #1E1E1E;
                    }
                }
            }
        }

    }


    .logo_search {
        margin-top: 30px;
        height: 60px;
        margin-bottom: 30px;

        .logo {
            float: left;
            margin: 0 10px;
        }

        .search {
            float: right;

            .searchs {
                float: left;

                .sea {
                    width: 500px;

                    input {
                        width: 430px;
                        border: 1px solid #c62f2d;
                        border-right-width: 0;
                        display: inline-block !important;
                        height: 32px !important;
                        border-radius: 0;
                        font-size: 14px;
                        padding: 0 0 0 10px;
                        line-height: 32px;
                        outline: none;
                        box-sizing: border-box;
                        float: left;
                    }

                    i {
                        display: inline-block;
                        width: 60px;
                        height: 32px;
                        padding: 0 20px;
                        box-sizing: border-box;
                        border-radius: 0;
                        background-color: #c62f2d;
                    }
                }

                .seali {
                    ul {
                        list-style: none;

                        li:first-child a {
                            color: #666;
                        }

                        li {
                            display: inline-block;
                            vertical-align: middle;
                            zoom: 1;
                            font-size: 12px;

                            a {
                                color: #BBB;
                                margin: 0 8px;
                            }
                        }

                    }

                }
            }

            .cart {
                float: right;
                width: 166px;
                margin-left: 15px;

                .cart_in {
                    display: inline-block;
                    width: auto;
                    height: 32px;
                    white-space: nowrap;
                    background-color: #fff;
                    border: 1px solid #ddd;

                    .count-wrapper {
                        padding: 0 5px 0 10px;
                        color: #666;
                        font-size: 14px;
                        line-height: 30px;

                        a {
                            color: #666;
                            text-decoration: none;

                            i:first-child {
                                margin-right: 5px;
                                color: #C62E2D;
                                vertical-align: top;
                            }

                            span {
                                padding: 0 8px;
                                color: #C62E2D;
                            }

                            i:last-child {
                                margin-left: 10px;
                                color: #bbb;
                                vertical-align: top;
                            }
                        }
                    }
                }
            }
        }
    }

    nav {
        height: 40px;

        .nav-left {
            background-color: #84685E;
            font-size: 14px;
            opacity: .9;
            width: 181px;
            float: left;

            .all-cata-show {
                padding: 10px 20px;
                /* display: inline-block; */
                vertical-align: middle;
                zoom: 1;
                color: #fff;

                i {
                    margin-right: 12px;
                }
            }
        }

        .nav-right {
            float: left;

            li {
                @include ul-li();

                a {
                    font-size: 14px;
                    color: #1E1E1E;
                    line-height: 40px;
                }
            }
        }
    }
}

@mixin ul-li-nav {
    list-style: none;
}

.content {
    background-color: #f0f3ef;
    height: 2260px;

    .con-left {
        width: 182px;
        float: left;
        color: #fff;
        border-color: rgba(132, 104, 94, .9);

        .ul>li {
            @include ul-li-nav();
            border: 0;
            height: auto;
            background-color: transparent;
            opacity: 1;
        }

        .parent-category {
            height: 660px;
            position: relative;
            opacity: 0.9;
            background-color: #84685E;
            border: 1px solid #84685E;
            min-height: 32px;
            line-height: 1;
            padding: 6px 5px 6px 13px;
            z-index: 999;

            .hide-cata {
                a {
                    color: #fff;
                    font-size: 12px;
                    padding: 2px 4px;
                }

                ul>li {
                    @include ul-li-nav();
                    float: left;

                }


            }

            &>div {
                margin-top: 5px;
                min-height: 45px;
            }

            &>div>a {
                color: #fff;
                padding: 0 5px;
                font-size: 14px;
                display: inline-block;
                vertical-align: middle;
                zoom: 1;
                width: 100%;
            }

            .cateory-info {
                display: none;
                width: 700px;
                border: 0;
                box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
                min-height: auto;
                margin-left: 1px;
                background-color: #fff;
                position: absolute;
                left: 180px;

                .attach {
                    left: 100%;
                    margin-left: 1px;
                    width: 0;
                    height: 0 !important;
                    border-style: solid;
                    border-top: 11px solid transparent;
                    border-left: 11px solid #84685E;
                    border-bottom: 11px solid transparent;
                    top: calc(50% - 11px);
                }

                .expand-category {
                    width: 700px;
                    opacity: 1;
                    border: 0;
                    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
                    min-height: auto;
                    margin-left: 1px;

                    .cata-se {
                        width: calc(100% - 60px);
                        margin: 0 30px;
                        border-bottom: 1px solid #DDD;
                        padding: 10px;

                        .second-cata {
                            width: calc(100% - 60px);
                            margin: 0 29px;
                            border-bottom: 1px solid #DDD;
                            padding: 10px;

                            .second-name {
                                text-align: left;
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 18px;
                                color: #040000;
                                vertical-align: top;
                                zoom: 1;
                                display: inline-block;
                                width: 84px;
                                margin: 5px;

                                a {
                                    color: #666;
                                    margin-right: 10px;
                                    font-size: 12px;
                                    max-width: 100%;
                                    display: -moz-inline-stack;
                                    display: inline-block;
                                    vertical-align: middle;
                                    zoom: 1;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                            }

                            .children-name {
                                height: auto;
                                width: calc(100% - 100px);
                                display: inline-block;
                                vertical-align: top;
                                line-height: 18px;
                                margin-top: 0;
                                font-size: 14px;

                                a {
                                    line-height: 18px;
                                    margin: 5px 0 5px 5px;
                                    padding: 0 0 0 10px;
                                    border-left: 1px solid #DDD;
                                    border-right: 0;
                                    color: #666;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }


            }

            .parent:hover .cateory-info {
                display: block;
            }
        }


    }

    .con-right {

        float: left;
        margin-left: 10px;

        .con-right-top {
            width: 1000px;
            height: 361px;
            margin-bottom: 20px;

            .big {
                width: 589px;
                height: 360px;
                float: left;
                margin-right: 10px;
            }

            .middle {
                width: 390px;
                float: left;
                height: 175px;
                margin-bottom: 10px;
            }

            .small1,
            .small2 {
                width: 190px;
                height: 175px;
                float: left;
                background-color: darkcyan;
            }

            .small1 {
                margin-right: 10px;
            }
        }

        .con-right-bottom {
            width: 990px;

            background-image: url(../img/commend.png);
            background-repeat: no-repeat;
            height: 313px;

            .bottom-top {
                padding: 26px 0 8px;

                &>div {
                    display: inline-block;
                    float: right;
                }

                ul {
                    list-style: none;

                    li {
                        margin: 0 24px 0 0;
                        padding: 4px;
                        float: left;
                        font-size: 12px;
                        color: #1E1E1E;
                        line-height: 16px;
                        border-bottom: 2px solid transparent;
                        cursor: pointer;
                    }

                    .active {
                        color: #84685E;
                        border-color: #84685E;
                    }
                }
            }

            .bottom-bottom {
                margin-top: 20px;
                padding: 0;
                font-size: 0;
                background-color: #fff;

                .product-item {
                    display: inline-block;
                    margin: 0 6px 0 0;
                    padding: 6px;
                    width: 180px;

                    .product-item-link {
                        margin: 0 auto;
                        display: inline-block;
                        width: 160px;
                        height: 100%;

                        .product-item-image {
                            width: 160px;
                            height: 160px;
                            text-align: center;
                        }

                        .product-item-title {
                            margin: 12px 0 0;
                            height: 32px;
                            font-size: 12px;
                            line-height: 16px;
                            color: #1E1E1E;
                            font-weight: 400;
                        }

                        .product-item-price {
                            margin: 10px 0 0;
                            height: 22px;
                            line-height: 22px;
                            color: #C62E2D;
                            font-size: 14px;

                            .discount-price {
                                margin: 10px 0 0;
                                height: 22px;
                                line-height: 22px;
                                color: #C62E2D;
                                font-size: 14px;
                            }

                            .original-price {
                                margin-left: 10px;
                                font-size: 12px;
                                color: #666;
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
    }

    .eve-row {
        .image-slide {
            font-size: 0;
            width: 1200px;
            height: 242px;
            overflow: hidden;
            position: relative;
            white-space: nowrap;

            .image.first {
                border-left: 1px solid #ddd;
            }

            .image {
                border: 1px solid #ddd;
                border-left: 0;
                cursor: pointer;
                display: -moz-inline-stack;
                display: inline-block;
                vertical-align: middle;
                zoom: 1;
                width: 240px;
                height: 240px;
                background-color: #fff;
                overflow: hidden;
                transition: all .4s ease;

                a {
                    display: inline-block;
                    width: 480px;
                    height: 240px;
                    font-size: 0;
                    letter-spacing: 0;
                    text-align: center;

                    img {
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                        vertical-align: middle;
                    }
                }
            }

            .image:hover {
                width: 480px;
                height: 240px;
            }

            .image.last:hover {
                position: absolute;
                right: 0;
            }

            .image:hover {
                width: 480px;
                height: 240px;
            }
        }
    }

    .spec-book {
        width: 1184px;

        .spec-col-cu {
            width: 1184px;
            margin-top: -10px;
            background-color: #ffffff;

            .spec-row {
                display: block;
                text-align: left;
                margin-left: 0px;
                white-space: nowrap;

                .spec-col-cu1 {
                    width: 288px;
                    float: left;
                    height: 550px;
                }

                .pro-list-content {
                    padding: 0;
                    float: left;
                    background-color: #fff;
                    font-size: 0;

                    .pro-item {
                        position: relative;
                        display: inline-block;
                        margin: 8px;
                        padding: 10px;
                        width: 180px;
                        box-sizing: border-box;
                        float: left;

                        a {
                            margin: 0 auto;
                            display: inline-block;
                            font-size: 0;

                            .a-image {
                                width: 160px;
                                height: 160px;
                                text-align: center;

                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                    vertical-align: middle;
                                }
                            }

                            .pro-item-title {
                                margin: 12px 0 0;
                                height: 33px;
                                font-size: 12px;
                                line-height: 16px;
                                color: #1E1E1E;
                                font-weight: 400;
                            }

                            .pro-item-p {
                                margin: 10px 0 0;
                                height: 22px;
                                line-height: 22px;
                                color: #C62E2D;
                                font-size: 14px;
                            }
                        }
                    }
                }

                .pro-aside {
                    width: 293px;
                    margin-left: 10px;
                    background-color: #ffffff;
                    margin-left: 5px;
                    float: left;

                    .pro-aside-row {
                        display: block;
                        text-align: left;
                        margin-left: 0px;
                        white-space: nowrap;

                        .aside-col-cu {
                            width: 285px;
                            z-index: 2;
                            position: relative;

                            img {
                                width: 100%;
                                display: inline;
                            }

                            .rank-list-body {
                                width: 100%;
                                position: relative;
                                background: #fff;

                                ul {
                                    margin: 0 8px;
                                    overflow: hidden;
                                    max-height: 544px;
                                    list-style: none;

                                    .item-li {
                                        height: 48px;
                                        padding-left: 32px;
                                        border-bottom: 1px dashed #dfdfdf;
                                        position: relative;

                                        .details {
                                            .img {
                                                width: 62px;
                                                height: 62px;
                                                text-align: center;
                                                line-height: 62px;
                                                display: inline-block;

                                                img {
                                                    max-width: 100%;
                                                    max-height: 100%;
                                                    vertical-align: middle;
                                                }
                                            }

                                            .author {
                                                p {
                                                    margin: 0;
                                                    font-size: 12px;
                                                    color: #999;
                                                    height: 18px;
                                                    line-height: 18px;
                                                    position: absolute;
                                                    bottom: 40px;
                                                    left: 86px;
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    white-space: nowrap;
                                                    width: 180px;
                                                }
                                            }

                                            .price {
                                                display: inline-block;

                                                p {
                                                    margin: 0;
                                                    font-size: 16px;
                                                    color: #C62E2D;
                                                    height: 18px;
                                                    line-height: 18px;
                                                    position: absolute;
                                                    bottom: 16px;
                                                    left: 86px;
                                                }
                                            }

                                        }


                                        .number {
                                            position: absolute;
                                            left: 4px;
                                            top: 17px;
                                            color: #666;
                                        }

                                        .ranking {
                                            position: absolute;
                                            top: 0;
                                            left: -3px;
                                            width: 21px;
                                            height: 22px;
                                            background-image: url(../img/number.png);
                                            background-repeat: no-repeat;
                                            background-size: 21px 22px;
                                            color: #fff;
                                            text-align: center;
                                        }

                                        .simple {
                                            position: absolute;
                                            height: 18px;
                                            line-height: 18px;
                                            top: 16px;
                                            width: calc(100% - 32px);
                                            margin: 0;
                                            color: #666;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            cursor: default;
                                        }

                                    }

                                    .active {
                                        height: 89px;
                                        padding: 16px 0 0 12px;
                                    }

                                    .active .simple {
                                        left: 86px;
                                        width: calc(100% - 86px);
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .worth {
        width: 1184px;
        margin-top: 10px;

        .worth-item {
            width: 1184px;
            min-height: 0px;
            background-color: #fff;

            .worth-back {
                padding: 0;
                width: 1184px;
                font-size: 0;

                .worth-items {
                    position: relative;
                    display: inline-block;
                    margin: 8px;
                    padding: 10px;
                    width: 180px;
                    box-sizing: border-box;

                    a {
                        margin: 0 auto;
                        display: inline-block;
                        width: 160px;
                        height: 100%;

                        .worth-items-images {
                            width: 160px;
                            height: 160px;
                            text-align: center;

                            img {
                                vertical-align: middle;
                            }
                        }

                        .worth-title {
                            margin: 12px 0 0;
                            height: 32px;
                            font-size: 12px;
                            line-height: 16px;
                            color: #1E1E1E;
                            font-weight: 400;
                        }

                        .worth-price {
                            margin: 10px 0 0;
                            height: 22px;
                            line-height: 22px;
                            color: #C62E2D;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    background-color: #eaeaea;


    .footer-top {
        padding-bottom: 30px;
        padding-top: 80px;
        border-bottom: 1px solid #bbbbbb;

        .footer-top-item {
            width: 293px;
            height: 42px;
            text-align: center;
            display: inline-block;
        }
    }

    .footer-bottom {
        width: 100%;
        margin-top: 40px;
        border-bottom: 1px solid #bbbbbb;

        .ul {
            height: 200px;

            .ul-li {
                width: 72px;
                float: left;
                margin-left: 140px;

                p {
                    color: rgb(153, 153, 153);
                    font-weight: bold;
                    font-size: 12px;
                }

                p:nth-child(1) {
                    font-size: 18px;
                    color: rgb(51, 51, 51);
                    font-weight: bold;
                }

                p:nth-child(2) {
                    color: rgb(153, 153, 153);
                    font-weight: bold;
                    font-size: 14px;
                }
            }
        }
    }

    .footer-footer {
        width: 800px;
        padding-top: 40px;
        margin: 0 auto;
        text-align: center;
        line-height: 12px;

        p {
            color: rgb(153, 153, 153);
            font-size: 12px;
            font-weight: 500;

        }

        .img-tit {
            margin-top: 20px;
            text-align: center;
            padding-bottom: 50px;

            .tit {
                width: 140px;
                display: inline-block;

                img {
                    width: 30px;
                }

                .t-footer {
                    width: 110px;

                    span {
                        color: rgb(153, 153, 153);
                    }
                }
            }
        }
    }
}






.center {
    width: 1200px;
    margin: 0 auto;
}