.login-main {
    width: 100%;
    overflow: hidden;
    height: 560px;
    background: url(../img/login.jpg) center center no-repeat;
    background-color: white;
    background-size: 1440px 560px;

    .outer-login {
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 40px;
        text-align: right;

        .login-form {
            display: inline-block;
            background-color: #fff;
            box-shadow: 0 5px 23px 0 rgb(0 0 0 / 10%);

            .login {
                width: 384px;

                .login-top {
                    border-bottom: 1px solid #f7f7f7;
                    padding: 17px 48px;
                    text-align: center;

                    span {
                        color: #C62E2D;
                    }
                }

                .login-con {
                    padding-top: 8px;
                    padding-left: 48px;
                    padding-right: 48px;

                    .input-item {
                        margin-bottom: 24px;
                        position: relative;

                        i {
                            background: url(../img/eye.png) center center no-repeat;
                            position: absolute;
                            top: 0;
                            left: 259px;
                            display: inline-block;
                            width: 18px;
                            height: 43px;
                            z-index: 4;
                        }

                        input {
                            height: 26px;
                            width: 260px;
                            outline: none;
                            padding: 7px 10px;
                            line-height: 18px;
                            border: 1px solid #ddd;
                            border-radius: 4px;
                            font-family: "Microsoft YaHei", "微软雅黑", STHeitiSC-Light, "Hiragino Sans GB", "微软雅黑", SimSun, "WenQuanYi Micro Hei", "Helvetica Neue", Arial, Tahoma, sans-serif;
                            color: #666;
                            outline: none;
                            font-size: 12px;
                        }

                        input:focus {
                            border: 1px solid red;
                        }

                        span[class] {
                            float: right;
                            color: red;
                            display: inline-block;
                            margin: 6px 0;
                            font-size: 12px;
                        }


                        .btn {

                            button {
                                width: 280px;
                                height: 38px;
                                border-radius: 5px;
                                color: #fff;
                                border-color: transparent;
                                background-color: #C62E2D;
                            }
                        }


                    }

                    .link-group {
                        font-size: 12px;
                        line-height: 12px;
                        padding: 12px 0 16px;

                        a:nth-child(1) {
                            color: #999;
                            float: left;
                            font-size: 12px;
                            margin-left: 7px;
                            text-decoration: none;
                        }

                        a:nth-child(2) {
                            color: #C62E2D;
                            font-size: 12px;
                            float: right;
                            text-decoration: none;
                        }
                    }

                    .other-login {
                        box-sizing: border-box;

                        .othor-top {
                            position: relative;
                            line-height: 12px;
                            height: 12px;
                            margin-bottom: 15px;

                            span {
                                position: absolute;
                                background-color: #fff;
                                color: #CCC;
                                left: 50%;
                                padding: 0 10px;
                                font-size: 12px;
                                transform: translateX(-50%);
                            }
                        }

                        .othor-bottom {
                            text-align: center;
                            line-height: 32px;
                            padding-bottom: 12px;
                            height: 44px;
                            font-size: 0;

                            a {
                                font-size: 32px;
                                text-decoration: none;
                                vertical-align: top;
                            }

                            a:nth-child(1) {
                                color: #45c45d;
                            }

                            a:nth-child(2) {
                                color: #67b5ff;
                                margin-left: 24px;
                            }

                            a:nth-child(3) {
                                color: #ff6631;
                                margin-left: 24px;
                            }
                        }
                    }

                    .go-xuexi {
                        text-align: center;
                        font-family: STHeitiSC-Light;
                        font-size: 12px;
                        color: #333;
                        margin-top: 0;
                        margin-bottom: 20px;
                        cursor: pointer;

                        img {
                            width: 14px;
                            height: 11.2px;
                            vertical-align: middle;
                        }
                    }

                }
            }
        }
    }
}



.select-box {
    width: 100px;
    height: 30px;
    background-color: #C62E2D;
}